* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    width: 100vw;
    height: 100vh;
}

button{
    color: #fff;
    background: #222;
    border:none;
    width: 200px;
    height: 60px;
    margin-right: 30px;
    border-radius: 30px;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    transition: .4s;
}
.ripple{
    background: #ffffff38;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 111;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    animation: animate .5s linear;

}
@keyframes animate{
    0%{
        width: 0;
        height: 0;
    }
  
    100%{
        width: 400px;
        height: 400px;
    }
}